@using Microsoft.AspNetCore.Identity
@using FootyFans.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
    <li>
        <a asp-controller="Account" asp-action="ProfilePage"><span class="glyphicon glyphicon-user" style="padding-right: 5px"></span>Hello @UserManager.GetUserName(User)!</a>
    </li>
        <li>
            <a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out" style="padding-right: 5px"></span>Logout</a>
        </li>
    }
    else
    {
        <li><a asp-controller="Admin" asp-action="Create"><span class="glyphicon glyphicon-user" style="padding-right: 5px"></span>Register</a></li>
        <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in" style="padding-right: 5px"></span>Login</a></li>
    }
