@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 style="color:green">About Footy Fans</h1>
    <h3>
        Hello fellow soccer fans! Our site is dedicated to soccer fans like you!
        Feel free to create a profile and join our community.
    </h3><br />

</div>
