@model FootyFans.Models.User
@{
    Layout = "_Layout";
    // Sending the Title back to the Layout
    ViewBag.Title = "Create a Profile";
}

<div class="panel-heading text-center">
    <h1>Create a Profile!</h1><br />
</div>
<div id="wrapper">
    <div class="panel panel-success">
        <div class="panel-body">
            <form class="p-a-1" asp-controller="Home" asp-action="CreateProfile" method="post">
                <div asp-validation-summary="All">
                    <div class="form-group">
                        <label asp-for="Name">User Name:</label>
                        <input class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FavoriteTeam">Who's Your Favorite Team?</label>
                        <input class="form-control" asp-for="FavoriteTeam" />
                    </div>
                    <div class="form-group">
                        <label asp-for="About">Tell us About Yourself:</label>
                        <textarea class="form-control" asp-for="About" 
                            placeholder="What would you like other users to know about yourself?">
                        </textarea><br />
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
