@model IEnumerable<AppUser> 
@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
    
<div class="text-center">
    <h1 style="color:green">Welcome, Fellow Soccer Fans!</h1><br />
    <h3>Tour our site and let us know what you think!</h3>
</div>


