@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title= "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome, Fellow Soccer Fans!</h1>
    <p>
        Site description will go here
    </p>

    <div>Recent News Will go Here</div>

   <div>Cool Soccer Videos will go here</div>


</div>