@model List<User>
@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title= "Home Page";
    Layout = "_Layout";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FootyFans</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="News">Recent News</a></li>
            <li><a asp-controller="Home" asp-action="Footage">Footage</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="CreateProfile">Create a Profile</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User Profiles<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @foreach (User user in Model)
                    {
                        <li><a asp-action="ProfilePage" asp-route-name="@user.Name">@user.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="text-center">
    <h1>Welcome, Fellow Soccer Fans!</h1>
    <p>
        Site description will go here
    </p>

    <div>Recent News Will go Here</div>

    <div>Cool Soccer Videos will go here</div>
</div>
