@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title = "News";
    Layout = "_Layout";
}
<div class="text-center">
    <h1 style="color:green">Recent News</h1>
    <div id="wrapper">
        <h3><a href="https://www.espn.com/soccer/">News From Around the World</a></h3>
        <h3><a href="https://www.espn.com/soccer/league/_/name/eng.1">English Premier League</a></h3>
        <h3><a href="https://www.espn.com/soccer/league/_/name/usa.1/">Major League Soccer</a></h3>
        <h3><a href="https://www.espn.com/soccer/league/_/name/esp.1">Spanish Primera Division (La Liga)</a></h3>
        <h3><a href="https://www.espn.com/soccer/league/_/name/ita.1/">Italian Seria A</a></h3>
        <h3><a href="https://www.espn.com/soccer/league/_/name/uefa.champions">Champions League</a></h3>
    </div>
    
</div>