@{
    // Using ViewData to send the Title back to _Layout
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<div class="bg-danger mb-1 p-2 text-white"><h4>Access Denied</h4></div>
<div class="btnNav">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>